{% if recipes.has_other_pages %}
  <nav role="navigation" aria-label="Main Pagination" class="container pagination">
    <div class="pagination-content">
      {% if pagination_range.first_page_out_of_range %}
        <a class="page-link page-item" aria-label="Go to page 1" href="?page=1{{ additional_url_query }}">1</a>
        <span class="page-item">...</span>
      {% endif %}

      {% for page in pagination_range.pagination %}
        {% if pagination_range.current_page == page %}
          <a class="page-link page-item page-current" 
            aria-label="Current page {{ page }}"
            aria-current="true"
            href="?page={{ page }}{{ additional_url_query }}">
              {{ page }}
          </a>
        {% else %}
          <a 
            class="page-link page-item" 
            href="?page={{ page }}{{ additional_url_query }}"
            aria-label="Go to page {{ page }}"
          >
              {{ page }}
          </a>
        {% endif %}
      {% endfor %}

      {% if pagination_range.last_page_out_of_range %}
        <span class="page-item">...</span>
        <a 
          class="page-link page-item" 
          aria-label="Go to page {{ pagination_range.total_pages }}"
          href="?page={{ pagination_range.total_pages }}{{ additional_url_query }}"
        >
            {{ pagination_range.total_pages }}
        </a>
      {% endif %}    
    </div>
  </nav>
{% endif %}