{% extends 'global/base.html' %}

{% block content %}
<div class="main-content main-content-list container">
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
    {% include 'recipes/partials/recipe.html' %}
</div>
{% endblock content %}