<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Theory</title>
</head>
<body>
  <h1>Theory</h1>

  <p>Qtd. total de receitas: {{ number_of_recipes }}</p>
  
  <ul>
    {% for recipe in recipes %}
      <li>{{ recipe.id }} {{ recipe.title }} {{ recipe.author_full_name }}</li>
    {% empty %}
      <p>No recipes found</p>
    {% endfor %}
  </ul>
</body>
</html>